<div class="container mt-4">
  <h2>Lista de Propriedades</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Localização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td>{{ property.nomePropriedade }}</td>
        <td>{{ property.localidade }}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="properties.length === 0">
      <tr>
        <td colspan="2" class="text-center">Nenhuma propriedade encontrada.</td>
      </tr>
    </tfoot>
  </table>
</div>
