<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div id="logo" class="float-start">
      <a><img style="width: 5vw;" src="img/logo-dash-white.png" alt="Logo Cataboi" title="Cataboi" /></a>
    </div>
    <a class="navbar-brand ms-2" routerLink="/dashboard">Cataboi</a>
    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/my-profile">Usuário : Paulo Vargas</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Animais
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/animais/novo">Adicionar</a></li>
            <li><a class="dropdown-item" routerLink="/animais">Consultar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Eventos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/eventos/novo">Adicionar</a></li>
            <li><a class="dropdown-item" routerLink="/eventos">Consultar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Propriedades
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/propriedades/novo">Adicionar</a></li>
            <li><a class="dropdown-item" routerLink="/propriedades">Consultar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rebanhos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/rebanhos/novo">Adicionar</a></li>
            <li><a class="dropdown-item" routerLink="/rebanhos">Consultar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuários
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/usuarios/novo">Adicionar</a></li>
            <li><a class="dropdown-item" routerLink="/usuarios">Consultar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Relatórios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/relatorios/animais">Total de Animais</a></li>
          </ul>
        </li>
       <!--  <li>
          <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Brinco" aria-label="Brinco" />
        <button class="btn btn-outline-success">Buscar</button>
      </form>
        </li> -->
      </ul>
      <ul class="navbar-nav me-5 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/my-profile">Meu Perfil</a></li>
            <li><a class="dropdown-item" routerLink="/login">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
