<div class="crud-modal-dialog" [ngClass]="sizeClass">
  <div class="crud-modal-content">
    <div class="crud-modal-header">
      <h5 class="crud-modal-title">{{ data.title ? data.title : titulo }}</h5>
      <button type="button" class="crud-modal-close" (click)="close()">x</button>
    </div>
    <div class="crud-modal-body">
      @if (data.component) {
        <ng-container #dynamicContainer></ng-container>
      } @else {
        <div>
          <router-outlet />
        </div>
      }
      <!-- @if (!data?.component && !rotaValida) {
        <p>Nenhum conteúdo disponível.</p>
      } -->
    </div>
  </div>
</div>
