<div class="container mt-4">
  <h2>Lista de Rebanhos</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let herd of herds">
        <td>{{ herd.name }}</td>
        <td>{{ herd.description }}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="herds.length === 0">
      <tr>
        <td colspan="2" class="text-center">Nenhum rebanho encontrado.</td>
      </tr>
    </tfoot>
  </table>
</div>
