  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Cuidando do seu rebanho</h2>
            <p>
              O Cataboi é um sistema de gerenciamento de rebanhos desenvolvido para agilizar o manejo com rebanhos. Uma ferramenta que veio entregar ao pecuarista a realidade da utilização dos recursos tecnológicos no campo atualmente.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Seu produto com qualidade</a></h4>
              <p class="description">Comercialize seu gado de corte ou leite tendo em mãos na hora da venda o controle sanitário de toda a vida de seu rebanho.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Do nascimento ao abate</a></h4>
              <p class="description">Acompanhe o histórico da vida de seus animais, registrando cada acontecimento seja com o rebanho, em determinado grupo ou individualmente</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Dados em tempo real</a></h4>
              <p class="description">Acesse as informações de seu rebanho de onde estiver, podendo administrar sua produção com maior sabedoria</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">

<!--==========================
      AQUI VAI FUTURAMENTE IMPLANTAR
    ============================-->

    <!--==========================
      Team Section

    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Equipe</h3>
          <p class="section-description">Este é o time que dará o maximo para que você seja o cliente mais satisfeito</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-1.jpg" alt=""></div>
              <h4>Paulo Vargas</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-2.jpg" alt=""></div>
              <h4>Frank San Martin</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-3.jpg" alt=""></div>
              <h4>Vilson Rodrigues</h4>
              <span>Marketing</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contato</h3>
          <p class="section-description">Estamos sempre dispostos a esclarecer suas dúvidas e responder seus questionamentos</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps
      <iframe src="https://www.google.com/maps/place/R.+Manduca+Carvalho,+122+-+Santa+Helena,+Cachoeira+do+Sul+-+RS,+96503-710/@-30.030135,-52.9130327,17z/data=!4m13!1m7!3m6!1s0x9504a79b9d07c1d5:0x25afb1fc92aa606e!2sR.+Manduca+Carvalho,+122+-+Santa+Helena,+Cachoeira+do+Sul+-+RS,+96503-710!3b1!8m2!3d-30.030135!4d-52.910844!3m4!1s0x9504a79b9d07c1d5:0x25afb1fc92aa606e!8m2!3d-30.030135!4d-52.910844" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
				-->

	  <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>Manduca Carvalho, 122 <br>Bairro Santa Helena<br>Cachoeira do Sul<br>Rio Grande do Sul - Brasil</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>{{ email }}</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+ 55 51 9 9528 6771</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Solicite orçamento ou nos envie uma mensagem. Obrigado!</div>
              <div id="errormessage"></div>
              <form method="post">
                <div class="form-group">
                  <input type="text" name="nome" class="form-control" id="nome" placeholder="Seu nome" data-rule="minlen:4" data-msg="Por favor digite seu nome!" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="Digite um email valido!" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="titulo" id="subject" placeholder="Titulo" data-rule="minlen:4" data-msg="Digite um titulo para sua mensagem!" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="mensagem" rows="5" data-rule="required" data-msg="Digite sua mensagem!" placeholder="Mensagem"></textarea>
                  <div class="validation"></div>
                </div>
                <button type="submit">Enviar</button>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  <main>
